

/************************************************************************************************************************************

Main Containers

************************************************************************************************************************************/



/*
<div> containing everything below the header ("#eexcess_header")
*/
#eexcess_main_panel{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 6em);
    text-align: center;
    vertical-align: top;
}



/********************************************************************************************************************************************

    TAG CLOUD

********************************************************************************************************************************************/

/* Put in wrappers css */
#eexcess_controls_left_panel {
    float: left;
    display: flex;
    align-items: stretch;
    width: 17%;
    height: calc(100% - 1em);
    padding: .5em;
    z-index: 2;
    background: -webkit-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    box-shadow: inset .1em .1em .5em #aaa, inset -.1em -.1em .5em #aaa;
}


/*  Keyword cloud containing keywords in blue sclae  */
.urank-tagcloud-container {
    overflow-y: auto;
    width: 100%;
    padding: 8px 4px;
    /*background: -webkit-linear-gradient(top, rgba(30, 30, 30, 1), rgba(50, 50, 50, 0.5), rgba(30, 30, 30, 1));*/
    background: -webkit-linear-gradient(top, rgba(185, 185, 185, 1), rgba(180, 180, 180, 1));
    box-shadow: inset .2em .2em .5em #ccc, inset -.2em -.2em .5em #ccc;
}


/*  keywords in keyword container  */
.urank-tagcloud-tag {
    display: inline-block;
    pointer-events: all;
    margin: 0.2em;
    padding: 3px 5px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0em 0.1em 0.3em #222;
    /*box-shadow: 0em 0.1em 0.3em -0.1em #888;*/
    box-shadow: 0em 0.1em 0.3em #222;
    color: #111;
    text-shadow: -0.1em 0.1em 0.5em #eee;
    cursor: move;
}


.urank-tagcloud-tag:hover, .urank-tagcloud-tag.selected {

    background: -webkit-linear-gradient(top, rgb(0, 102, 255), rgb(20, 122, 255), rgb(0, 102, 255));
    border: solid 1px rgb(0, 102, 255);
    color: #eee;
    text-shadow: none;
}


.urank-tagcloud-tag.dimmed {
    border: 1px solid rgba(202, 202, 202, 0.2);
    background: rgba(202, 202, 202, 0.2);
    color: #111;
    text-shadow: -0.1em 0.1em 0.5em #eee;
    cursor: default;
}


.urank-keyword-hint {
    position: absolute;
    display: inline;
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 8px;
    color: #eee;
    text-align: center;
    font-size: 8px;
    line-height: 14px;
    box-shadow: 0 1px 1px #777;
    cursor: pointer;
}


.urank-tagcloud-tag .urank-keyword-hint {
    visibility: hidden;
}


.urank-tagcloud-tag:hover.active .urank-keyword-hint {
    visibility: visible;
}


.urank-tagcloud-tag:hover.active .urank-keyword-hint:hover {
    transform: scale(1.1);
}


.urank-documents-hint {
    position: absolute;
    display: inline;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
}


.urank-tagcloud-tag .urank-documents-hint {
    visibility: hidden;
}

.urank-tagcloud-tag:hover.active .urank-documents-hint {
    visibility: visible;
}

.urank-tagcloud-tag:hover.active .urank-documents-hint:hover {
    transform: scale(1.1);
}


.urank-tagcloud-tag.dimmed .urank-documents-hint, .urank-tagcloud-tag.dimmed .urank-documents-hint {
    display: none;
}


.hint--right:after {
    font-size: 10px;
}


/************************************************************************************************************************************

VIS PANEL (center of screen)

************************************************************************************************************************************/

#eexcess_vis_panel {
    display: inline-block;
    width: 61%;
    height: 100%;
}

/********************************************************************************************************************************************

VIS PANEL CONTROLS

********************************************************************************************************************************************/


#eexcess_vis_panel_controls {
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 9%;
    min-height: 4.5em;
}


/*
*   Ranking Controls (upper mid-left)
*
*/

#eexcess_ranking_controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}


#eexcess_ranking_controls button {
    min-width: 2.1em;
    height: 1.7em;
    margin: .6em .3em;
    padding: .3em .6em;
    border-radius: .9em;
}


#eexcess_ranking_controls button img {
    width: 100%;
    height: 100%;
}


/*
*   TAG BOX (upper mid-right header)
*
*/
.urank-tagbox-container {
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    float: right;
    width: 55%;
    padding: 0em .3em;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    list-style-type: none;
    text-align: left;
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}

.urank-tagbox-container p {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1em;
    text-align: center;
    color: #777;
}

.urank-tagbox-tag {
    cursor: default;
    display: inline-block;
    text-align: left;
    min-width: 14%;
    height: 2em;
    margin: 0.8em .3em 0.2em 0.3em;
    padding: .2em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -webkit-box-shadow: 0em 7px 6px -6px #333;
    box-shadow: 0em 7px 6px -6px #333;
    -webkit-text-shadow: -0.1em 0.1em 0.5em #eee;
    text-shadow: -0.1em 0.1em 0.5em #eee;

}

.urank-tagbox-tag:hover {
    box-shadow: 2px 2px 5px #555, -2px -2px 5px #555;
}


.urank-tagbox-tag > text {
    opacity: 0.5;
}


/* slider div*/
.urank-tagbox-tag-weight-slider {
    height: .4em;
    margin: .1em;
}


/* ui-slider-range */
.urank-tagbox-tag-weight-slider .urank-tagbox-tag-weight-slider-range
 {
    height: 100%;
    font-size: 0.9em;
    font-weight: normal;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

/* ui-slider-handle */
.urank-tagbox-tag-weight-slider .urank-tagbox-tag-weight-slider-handle  {
    top: -0.3em;
    width: 0.45em;
    height: .8em;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
}


.urank-tagbox-tag .urank-tagbox-tag-delete-button {
    visibility: hidden;
    position: relative;
    float: right;
    right: -7px;
    top: -20px;
    z-index: 8040;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(../media/remove.png);
    background-position: -193px 0px;
    transform: scale(0.9);
}


.urank-tagbox-tag:hover .urank-tagbox-tag-delete-button {
    visibility: visible;
}


.urank-tagbox-tag:hover .urank-tagbox-tag-delete-button:hover {
    transform: scale(1.0);
}

.urank-tagbox-tag .urank-keyword-hint,
.urank-tagbox-tag .urank-documents-hint {
    display: none;
}

/********************************************************************************************************************************************

CANVAS PANEL (bottom-center)

********************************************************************************************************************************************/

#eexcess_vis_panel_canvas {
    display: inline-block;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

/********************************************************************************************************************************************

                                                    CONTENT LIS (left-center)

********************************************************************************************************************************************/


/* <div> container for the list of recommendations */
.urank-list-container {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 45%;
}


.urank-list-ul {
    clear:both;
    width: 100%;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    list-style: none;
    display:block;
    padding-bottom: 1px;

}


/* <li> items */
.urank-list-li {
    position: relative;
    height: 26px;
    vertical-align: top;
    -webkit-transition: box-shadow 4s ease-in/* linear*/;
}

.urank-list-li a {
    color: #333;
}


/***************	<li> background style   **************/

.urank-list-li-lightbackground {
    background: #eee;
}

.urank-list-li-darkbackground {
    background: #ddd;
}

.urank-list-li-unranked {
    background: white;
    height: 24px;
    border: 1px dashed #bbb;
}

.urank-list-li-unranked:hover {
    background: #eee;
}

/* <li> itmes' hover style */
.urank-list-li-hover {
    background: -webkit-linear-gradient(top, rgb(230, 230, 230) 75%, #ccc);
}


/***************	Watched list item   **************/

.urank-list-li-watched {
    box-shadow: inset 1px 1px 2px rgba(128, 128, 128, 0.6), inset -1px -1px 2px rgba(128, 128, 128, 0.6);
    -webkit-transition: box-shadow 0s linear;
    z-index: 9999;
}

/***************	Effects for list items when the ranking changes   **************/

.urank-list-li-movingup {
    /*box-shadow: inset 1px 1px 2px rgba(0, 250, 0, 0.6), inset -1px -1px 2px rgba(0, 250, 0, 0.6);*/
    box-shadow: inset 3px 0px rgba(0, 250, 0, 0.6);
    -webkit-transition: box-shadow 0s linear;
}

.urank-list-li-movingdown {
    /*box-shadow: inset 1px 1px 2px rgba(250, 10, 10, 0.6), inset -1px -1px 2px rgba(250, 10, 10, 0.6);*/
    box-shadow: inset 3px 0px rgba(250, 10, 10, 0.6);
    -webkit-transition: box-shadow 0s linear;
}

.urank-list-li-notmoving {
    box-shadow: inset 1px 1px 2px rgba(128, 128, 128, 0.6), inset -1px -1px 2px rgba(128, 128, 128, 0.6);
    -webkit-transition: box-shadow 0s linear;
}

/***************	li ranking section	**************/


.urank-list-li-ranking-container {
    display: inline-block;
    float: left;
    height: 100%;
    width: 51px;
    padding-left: 1px;
}


.urank-list-li-ranking-pos {
    display: inline-block;
    float: left;
    width: 18px;
    height: 18px;
    margin: 4px 2px;
    /*background: -webkit-linear-gradient(top, rgba(255, 175, 0, 0.8) 75%, rgba(235, 155, 0, 0.8));*/
    background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.8) 75%, rgba(50, 50, 50, 0.8));
    -webkit-border-radius: 1em;
    box-shadow: 0.05em 0.15em 0.3em #888;
    line-height: 1.8em;
    font-size: 0.8em;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    text-shadow: 0em 0.1em #888;
}


.urank-list-li-ranking-posmoved {
    display: inline-block;
    float: left;
    width: 24px;
    height: 19px;
    margin: 6px 2px 4px 2px;
    line-height: 1.4em;
    font-size: .8em;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #222;
    text-shadow: 0em 0.1em 0 rgba(136, 136, 136, 0.5);
}

/***************	li title   **************/

.urank-list-li-title-container {
    display: inline-flex;
    float: left;
    align-items: center;
    width: calc(100% - 108px);
    height: 100%;
    margin-left: 5px;
    vertical-align: top;
    text-align: left;
}

.urank-list-li-watched .urank-list-li-title-container {
    text-decoration: underline;
}


/***************	Encloses watch icon and fav icon   **************/

.urank-list-li-buttons-container {
    /*display: inline-flex;*/
    float: right;
    width: 38px;
    height: 100%;
    vertical-align: top;
}

.urank-list-li-button-favicon, .urank-list-li-button-watchicon {
    margin-right: 2px;
    cursor: pointer;
    background: url(../media/sprites.png) no-repeat;
}

.urank-list-li-button-favicon {
    float: right;
    margin-top: 6px;
    padding: 8px;
}

.urank-list-li-button-watchicon {
    float: left;
    margin-top: 7px;
    padding: 9px;
}


.urank-list-li-button-favicon-off {
    background-position: -50px 0;
}

.urank-list-li-button-watchicon-off {
    background-position: -400px 0;
    opacity: 0.5;
}

.urank-list-li .urank-list-li-button-favicon-off,
.urank-list-li .urank-list-li-button-watchicon-off {
    display: none;
}

.urank-list-li:hover .urank-list-li-button-favicon-off,
.urank-list-li:hover .urank-list-li-button-watchicon-off {
    display: inline-block;
    transition: all .2s ease-in-out;
}


.urank-list-li:hover .urank-list-li-button-favicon-off:hover,
.urank-list-li:hover .urank-list-li-button-watchicon-off:hover {
    transform: scale(1.1);
}


.urank-list-li-button-favicon-on {
    display: inline-block;
    background-position: -100px 0;
    transition: all .2s ease-in-out;
}

.urank-list-li-button-watchicon-on {
    display: inline-block;
    background-position: -350px 0;
    transition: all .2s ease-in-out;
}

.urank-list-li-button-favicon-on:hover, .urank-list-li-button-watchicon-on:hover {
    transform: scale(1.1);
}


/********************************************************************************************************************************************

Canvas section (right-center) - displays ranking vis

********************************************************************************************************************************************/


/*
<div> wrapping urank stacked bars and future visualizations
*/
.urank-viscanvas-container {
    display: inline-block;
    width: 55%;
    min-height: 99%;
    text-align: center;
}


/*
<div> appended to #eexcess_canvas when a message should be displayed. E.g. when a new search is triggered or no data are received.
Contains a <span> for the message and optionally an <img> tag (for the loading icon, only for the case of a new search )
*/
.urank-viscanvas-message {
    display: block;
    margin-top: 8em;
    text-align: center;
    color: #777;
    font-size: .9em;
}



/********************************************************************************************************************************************

Document Panel (right) - for visualizing highlighted text

********************************************************************************************************************************************/


/*
*   Document Controls (right)
*
*/
.urank-docviewer-container {
    display: flex;
    flex-direction: column;
    float: right;
    width: 21%;
    height: calc(100% - 1em);
    padding: .5em;
    background: -webkit-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    box-shadow: inset .1em .1em .5em #aaa, inset -.1em -.1em .5em #aaa;
}

.urank-docviewer-details-section {
    display: flex;
    flex-wrap: wrap;
    height: 8em;
    text-align: left;
    padding: .5em;
    color: snow;
    text-shadow: 0em .1em #444
}

.urank-docviewer-details-section div {
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    padding: .2em 0em;
}

.urank-docviewer-details-section div label {
    width: 44px;
}

.urank-docviewer-details-section div h3 {
    width: calc(100% - 44px);
    height: 60px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: snow;
    /*text-shadow: 0em .1em green;*/
    font-weight: bold;
    font-size: .9em;
    line-height: 1.2em;
}

.urank-docviewer-details-section div h3 strong {
    /*text-shadow: 0em .1em .5em white, 0em -.1em .5em white;*/
    text-shadow: 0em .1em #444;
}

.urank-docviewer-details-section div span {
    font-size: .9em;
}

.urank-docviewer-content-section {
    display: inline-block;
    width: 100%;
    height: calc(100% - 9em);
    /*background: -webkit-linear-gradient(top, rgba(30, 30, 30, 1), rgba(60, 60, 60, 1), rgba(30, 30, 30, 1));*/
    background: -webkit-linear-gradient(top, rgba(185, 185, 185, 1), rgba(180, 180, 180, 1));
    box-shadow: inset .2em .2em .5em #ccc, inset -.2em -.2em .5em #ccc;
    overflow-y: auto;
}

.urank-docviewer-content-section p {
    margin: .5em 1em;
    font-size: .95em;
    text-align: left;
    /*color: #444;*/
    color: white;
}






