.urank-tagcloud-container {
    background: -webkit-linear-gradient(top, rgba(185, 185, 185, 1), rgba(180, 180, 180, 1));
    border: 6px solid rgba(170, 170, 170, 1);
    box-shadow: inset .2em .2em .5em #ccc, inset -.2em -.2em .5em #ccc;
}


.urank-tagbox-container {
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}


.urank-list-container {

}


.urank-viscanvas-container {

}


.urank-docviewer-container {
    background: -webkit-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    box-shadow: inset .1em .1em .5em #aaa, inset -.1em -.1em .5em #aaa;
}
