html {
    width: 100%;
    height: 100%;

}

body{
    overflow: hidden;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 4px;
    background: white;
    font-size: 1em;
    font-family: Lucida, Lucida Grande, Verdana,Arial,sans-serif;
}



h1 {
    font-size: 0.9em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

h3 {
    font-size: .95em;
    font-weight: normal;
    line-height: 1em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
 }

p {
    font-size: 0.8em;
}


span {
    font-size: 1em;
}


select {
    font-size: 1em;
    text-align: left;
    border: 0.1em #ddd solid;
}


text {
    font-size: 0.85em;
}



body a{
    text-decoration:none;
    color: #529CBF;
}


div{
    display:block;
}


input[type="button"], button {
    display: inline-block;
    margin: 0em 0.1em;
    z-index: 0;
    cursor: pointer;
    font-size: 1.05em;
    text-decoration: none;
    text-align: center;
    height: 24px;
    min-width: 74px;

    background: #ddd;
    background: -webkit-linear-gradient(top, #eee, #ddd);
    background: -moz-linear-gradient(top, #eee, #ddd);
    background: -o-linear-gradient(top, #eee, #ddd);
    background: -ms-linear-gradient(top, #eee, #ddd);
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0em 0.1em .1em #999;
    color: rgb(102, 102, 102);
    text-shadow: 0em 0.1em #fff;
}


/*
Hover style for all buttons
*/
input[type="button"]:hover, button:hover {
    background: #eee;
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    border: 1px solid #ccc;
}



select {
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 5px;
    color: #666;
}



@media (min-width: 300px) {
    body { font-size: .4em; }
}

@media (min-width: 500px) {
    body { font-size: .5em; }
}

@media (min-width: 700px) {
    body { font-size: .6em; }
}

@media (min-width: 900px) {
    body { font-size: .7em; }
}

@media (min-width: 1200px) {
    body { font-size: .75em; }
}

@media (min-width: 1400px) {
    body { font-size: .8em; }
}


@media (min-width: 1600px) {
    body { font-size: .8em; }
}

@media (min-width: 1800px) {
    body { font-size: .85em; }
}





/***************************************************************************************************/

header {
/*
    display: flex;
    align-items: stretch;
    justify-content: space-between;
*/
    width: 100%;
    height: 30px;
    padding: 5px 0px;
    background: rgba(102, 102, 102, 1);
    background: -webkit-linear-gradient(top, rgba(102, 102, 102, 1), rgba(115, 115, 115, 1), rgba(102, 102, 102, 1));
    background: -moz-linear-gradient(top, rgba(102, 102, 102, 1), rgba(115, 115, 115, 1), rgba(102, 102, 102, 1));
    background: -o-linear-gradient(top, rgba(102, 102, 102, 1), rgba(115, 115, 115, 1), rgba(102, 102, 102, 1));
    background: -ms-linear-gradient(top, rgba(102, 102, 102, 1), rgba(115, 115, 115, 1), rgba(102, 102, 102, 1));
}

header select{
    float: left;
    height: 23px;
    margin: 4px 14px;
}

header .num-results-msg {
    display: inline-block;
    float: left;
    width: 150px;
    height: 20px;
    margin: 4px 10px;
    border-radius: 4px;
    text-align: center;
    background-color: darkgrey;
    color: white;
    box-shadow: inset 2px 2px 4px #bbb, inset -2px -2px 4px #bbb;
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
}


header input[type="button"] {
    float: left;
    margin: 3px 14px;
}


/***************************************************************************************************/


.main-panel {
	display: inline-flex;
    justify-content: space-between;
    width: 100%;
	height: calc(100% - 40px);
    text-align: center;
	vertical-align: top;
}

/*  LEFT -- Control Panel */

.control-panel {
    min-width: 200px;
    width: 12%;
    height: 100%;
    float: left;
    display: inline-block;
    background: rgba(175, 175, 175, 1);
    background: -webkit-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    background: -moz-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    background: -o-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    background: -ms-linear-gradient(top, rgba(175, 175, 175, 1), rgba(170, 170, 170, 1));
    box-shadow: inset .1em .1em .5em #aaa, inset -.1em -.1em .5em #aaa;
    text-align: left;
}


/*  LEFT */
.left-panel {
    display: inline-block;
    float:  left;
    width: 35%;
    height: 100%;
}

/*  CENTER */
.central-panel {
    display: inline-block;
    float:  left;
    width: 35%;
    /*    width: 31%;*/
    height: 100%;
}

/*    RIGHT */
.right-panel {
    float: right;
    width: 18%;
    height: 100%;
}

/*
*   Controls (left)
*
*/


.control-panel .container {
    height: calc(100% - 20px);
    margin: 10px 5px;
}

.control-panel .container h4 {
    display: inline-block;
    margin: 5px 0px;
    font-size: 0.85em;
    color: white;
}

.control-panel .container span.favicon {
    float: left;
    display: inline-block;
    background-image: url(../../media/favicon_on.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 4px;
}

.control-panel .container .bookmark-area {
    display: block;
    width: calc(100% - 4px);
    min-height: 300px;
    max-height: calc(100% - 60px);
    margin: 10px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 2px;
    border-radius: 2px;
    background-color: rgba(220,220,220, 0.9);
}

.control-panel .container .bookmark-area .item {
    display: inline-block;
    width: calc(100%- 10px);
    min-height: 30px;
    margin: 1px 2px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid rgb(150,150,150);
    background-color: rgba(180,180,180,1);
    box-shadow: 0px 1px 3px #888;
}

.control-panel .container .bookmark-area .item a.doc-icon {
    display: inline-block;
    float: left;
    width: 16px;
    margin: 6px 3px;
    font-size: 1.2em;
    color: snow;
    text-decoration: none;
    cursor: default;
}

.control-panel .container .bookmark-area .item a.doc-icon:before {
    content: '\f15c';
    font-family: FontAwesome;
}

.control-panel .container .bookmark-area .item span {
    display: inline-block;
    float: left;
    width: calc(100% - 22px);
    font-size: 0.9em;
    color: snow;
}

.control-panel .container .bookmark-area .item a.remove-icon {
    display: inline-block;
    float: right;
    width: 0px;
    height: 0px;
    font-size: 1.4em;
    text-decoration: none;
    color: red;
}

.control-panel .container .bookmark-area .item a.remove-icon:before {
    display: none;
/*    display: inline-block;*/
    position: relative;
    right: 14px;
    top: 3px;
    content: '\f00d';
    font-family: FontAwesome;
    text-decoration: none;
}


.control-panel .container .bookmark-area .item:hover a.remove-icon:before {
    display: inline-block;
}

.control-panel .container .bookmark-area .item:hover a.remove-icon:hover:before {
    transform: scale(1.1);
}


.control-panel .container .download-area {
    display: block;
    width: 100%;
    height: 16px;
    text-align: center;
}

.control-panel .container .download-area a {
    margin: 0px 5px;
    font-size: 0.9em;
    font-weight: bold;
}

/***********************************************/


#contentlist {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}



/*
*   TAGBOX
*/
#tagbox {
    float: right;
    width: 100%;
    height: 80px;
}

#viscanvas {
    float: left;
    width: 100%;
    height: calc(100% - 80px);
}



/*.control-panel {
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 4em;
    min-height: 4.5em;
}*/








/***************************************************************************************************/

.vis-panel {
    display: inline-block;
    width: 100%;
    height: calc(100% - 4em);
    overflow-y: hidden;
    overflow-x: hidden;
}








/***************************************************************************************************/

#docviewer {
    display: flex;
    flex-direction: column;
    float: right;
    width: 21%;
    height: 100%;
}


/***************************************************************************************************/


.processing-message {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.8);
    z-index: 999;
}

.processing-message .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: 10em;
    left: calc(50% - 10em);
    top: calc(50% - 5em);
    background: #006d2c;
    background: -webkit-linear-gradient(top, #00441b, #006d2c, #00441b);
    background: -moz-linear-gradient(top, #00441b, #006d2c, #00441b);
    background: -o-linear-gradient(top, #00441b, #006d2c, #00441b);
    background: -ms-linear-gradient(top, #00441b, #006d2c, #00441b);
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    z-index: 1000;
}



/******************************** CUSTOM LIST *******************************************************/

.test-ul {
    clear:both;
    width: 100%;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    list-style: none;
    display:block;
}

.test-li {
    position: relative;
    height: 35px;
    vertical-align: top;
    transition: box-shadow 4s ease-in/* linear*/;
    -webkit-transition: box-shadow 4s ease-in/* linear*/;
    -moz-transition: box-shadow 4s ease-in/* linear*/;
    -o-transition: box-shadow 4s ease-in/* linear*/;
    -ms-transition: box-shadow 4s ease-in/* linear*/;
    cursor: pointer;
}

.test-li:hover, .test-li.hovered {
    background: rgb(150, 30, 30);
    background: -webkit-linear-gradient(top, rgb(150, 30, 30) 75%, #ccc);
    background: -moz-linear-gradient(top, rgb(150, 30, 30) 75%, #ccc);
    background: -o-linear-gradient(top, rgb(150, 30, 30) 75%, #ccc);
    background: -ms-linear-gradient(top, rgb(150, 30, 30) 75%, #ccc);
}

.test-li-light-background {
    background: #efefef;
}

.test-li-dark-background {
    background: #dadada;
}


.test-li-ranking-container {
    display: inline-block;
    float: left;
    height: 100%;
    width: 51px;
    padding-left: 1px;
}

.test-li-title-container {
    display: inline-flex;
    float: left;
    align-items: center;
    width: calc(100% - 108px);
    height: 100%;
    margin-left: 5px;
    vertical-align: top;
    text-align: left;
}

.test-li-title {
    color: #111;
    cursor: inherit;
}

.test-buttons-container {
    float: right;
    width: 38px;
    height: 100%;
    vertical-align: top;
}

.test-favicon {
    float: right;
    margin-top: 6px;
    padding: 8px;
}


.test-watchicon {
    float: left;
    margin-top: 7px;
    padding: 9px;
}



